Repository cds-snc/platform-forms-client, pull requests merged in 2025-07, with the labels that each got.

#5783 chore: notification v2 data migration - part 1
  prisma/seeds/seed.ts
Labels: !! Database Migration !!

#5702 feat: email notifications v2
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/actions.ts
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/notifications/Notifications.tsx
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/notifications/NotificationsToggle.tsx
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/notifications/NotificationsUserSetting.tsx
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/notifications/NotificationsUsersList.tsx
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/notifications/actions.ts
  app/(gcforms)/[locale]/(form administration)/form-builder/actions.ts
  app/(gcforms)/[locale]/(form filler)/id/[...props]/actions.ts
  components/serverComponents/icons/CheckNoBorderIcon.tsx
  components/serverComponents/icons/XIcon.tsx
  components/serverComponents/icons/index.ts
  i18n/translations/en/form-builder.json
  i18n/translations/fr/form-builder.json
  lib/auditLogs.ts
  lib/invitations/emailTemplates/inviteToFormsEmailTemplate.ts
  lib/notifications.ts
  lib/templates.ts
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/types/src/form-types.ts
Labels: !! Package Update !!

#5823 chore: update aws sdk
  package.json
  packages/connectors/CHANGELOG.md
  packages/connectors/package.json
  utils/archivableAuditLogsMigration/package.json
  utils/cognitoBackup/package.json
  utils/cognitoMigration/package.json
  utils/createdAtVaultConfItemsMigration/package.json
  utils/reliabilityQueueTableTTLDataTypeMigration/package.json
  utils/responseGenerator/package.json
  utils/statusCreatedAtMigration/package.json
  yarn.lock
Labels: !! Package Update !!

#5827 chore: notification v2 data migration - part 3
  prisma/seeds/seed.ts
Labels: !! Database Migration !!

#5855 chore: add strict value to form types
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/types/src/form-types.ts
Labels: !! Package Update !!

#5862 chore: throttle-ui file clean up
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/ManageForm.tsx
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/throttlingRate/ThrottlingRate.tsx
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/settings/manage/throttlingRate/actions.ts
Labels: tech debt

#5872 feat: announce live-region package
  app/(gcforms)/[locale]/(form administration)/form-builder/[id]/layout.tsx
  app/(gcforms)/[locale]/(form administration)/form-builder/components/shared/right-panel/RightPanel.tsx
  components/clientComponents/forms/ConditionalWrapper/Announce.tsx
  components/clientComponents/forms/ConditionalWrapper/ConditionalWrapper.tsx
  components/clientComponents/forms/DynamicRow/DynamicRow.tsx
  components/clientComponents/forms/FileInput/FileInput.tsx
  components/clientComponents/globals/ClientContexts.tsx
  components/clientComponents/globals/LiveRegion.tsx
  components/clientComponents/globals/layouts/FormDisplayLayout.tsx
  lib/hooks/useCustomEvent.tsx
  package.json
  packages/announce/CHANGELOG.md
  packages/announce/README.md
  packages/announce/package.json
  packages/announce/src/Announce.css
  packages/announce/src/Announce.tsx
  packages/announce/src/index.ts
  packages/announce/utils/announce.ts
  yarn.lock
Labels: !! Package Update !!
